@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
	.text-balance {
		text-wrap: balance;
	}
} */

.title {
	font-family: "Merriweather";
	font-style: normal;
	font-weight: 400;
	font-size: 6vw;
}

/* card animations */
/* Code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_flip_card */
.card {
	width: 30vw;
	height: 20vh;
	perspective: 1000px;
}

.inner {
	/* position: relative; */
	width: 100%;
	height: 100%;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .inner {
	transform: rotateY(180deg);
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.back {
	transform: rotateY(180deg);
}
